@import '../../../../App.scss';
.Rent{
    background: #eee;
    padding-top: 5rem;
    padding-bottom: 3rem;
    .search-optione{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        .services-btn{
            text-decoration: none;
            text-transform: uppercase;
            color: #999;
            font-size: 1.2rem;
            padding: .5rem 1rem;
            margin: 1.5rem .7rem;
            border: .1rem solid #999;
            border-radius: 5rem;
            &:hover{
                color: $main-color;
                border: .1rem solid $main-color;
            }
        }
    }
}

@media (max-width: 441px){
    .Rent{
        .search-optione{
            .services-btn{
                font-size: .85rem;
                padding: .5rem .7rem;
                margin: .4rem 0;
            }
        }
    }
}