* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  transition: 0.4s;
}

body {
  overflow-x: hidden;
}

.btn {
  width: 12rem;
  height: 3.4rem;
  color: #fff;
  background: #003cb3;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  position: relative;
  margin: 1rem;
  padding: 0.5rem;
}
.btn:hover {
  background: #2755b2;
}
.btn:hover span {
  margin-left: 0.4rem;
  width: 3.2rem;
}
.btn span {
  font-size: 1.2rem;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.title {
  color: #000080;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

section {
  margin: 0;
  padding: 3rem 1rem;
}

.prudect-Cards-Container {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 0.5rem;
  row-gap: 1.2rem;
}

@media (max-width: 991px) {
  section {
    padding: 1.5rem 0.5rem;
  }
}
@media (max-width: 700px) {
  .title {
    padding: 1rem;
    font-size: 2rem;
  }
  section {
    padding: 1rem 0.2rem;
  }
  .btn {
    width: 10rem;
    height: 3rem;
    font-size: 0.8rem;
    margin: 0.7rem;
    padding: 0.3rem;
  }
  .btn:hover span {
    margin-left: 0.3rem;
    width: 2.7rem;
  }
  .btn span {
    font-size: 0.9rem;
  }
  .prudect-Cards-Container {
    grid-template-columns: repeat(2, 50%);
    row-gap: 0.7rem;
  }
}
@media (max-width: 441px) {
  .title {
    padding: 0.7rem;
    font-size: 1.5rem;
  }
  .btn {
    width: 7.5rem;
    height: 2.6rem;
    font-size: 0.8rem;
    margin: 0.8rem;
  }
  .btn:hover span {
    margin-left: 0.1rem;
    width: 2.2rem;
  }
  .btn span {
    font-size: 0.7rem;
  }
  .prudect-Cards-Container {
    grid-template-columns: 100%;
  }
}
.container {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  top: 0;
  left: 0;
}
.container .MoreDetails {
  width: 80%;
  height: 97vh;
  padding: 1rem 4rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem 0;
}
.container .MoreDetails .close-icon {
  float: right;
  font-size: 1.7rem;
  color: #002633;
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
}
.container .MoreDetails .close-icon:hover {
  color: #003cb3;
}
.container .MoreDetails .details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .MoreDetails .details-container .image {
  width: 40%;
  height: 20rem;
}
.container .MoreDetails .details-container .details-text {
  text-align: center;
  line-height: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .MoreDetails .details-container .details-text h1 {
  padding: 0.5rem;
  font-size: 2.1rem;
  color: #000080;
  line-height: 2rem;
}
.container .MoreDetails .details-container .details-text h3 {
  color: #003cb3;
  font-size: 1.6rem;
}
.container .MoreDetails .details-container .details-text p {
  word-spacing: 0.2rem;
  color: #555;
  font-size: 1.1rem;
  text-align: start;
}
.container .MoreDetails .details-container .details-text .stars {
  display: flex;
  justify-content: center;
}
.container .MoreDetails .details-container .details-text .stars i {
  color: goldenrod;
  font-size: 1.4rem;
  margin: 0.2rem;
}
.container .MoreDetails .contact-info {
  margin: 0.5rem 0;
  padding: 0.2rem 0;
}
.container .MoreDetails .contact-info h2 {
  font-size: 1.4rem;
  color: #000080;
}
.container .MoreDetails .contact-info hr {
  margin: 1rem 0;
}
.container .MoreDetails .contact-info .contact-options {
  display: flex;
}
.container .MoreDetails .contact-info .contact-options li {
  list-style: none;
  margin: 0.5rem;
  margin-left: 2.3rem;
  font-size: 1rem;
  color: #888;
  cursor: pointer;
}
.container .MoreDetails .contact-info .contact-options li span {
  font-weight: lighter;
}
.container .MoreDetails .contact-info .contact-options li:hover {
  color: #003cb3;
}

@media (max-width: 991px) {
  .container .MoreDetails {
    overflow: scroll;
    width: 92%;
    padding: 1rem;
  }
}
@media (max-width: 771px) {
  .container .MoreDetails {
    width: 97%;
    height: 100vh;
    padding: 0.5rem;
  }
  .container .MoreDetails .close-icon {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
  .container .MoreDetails .details-container {
    flex-direction: column;
  }
  .container .MoreDetails .details-container .image {
    width: 60%;
    height: 12rem;
    margin: 1rem;
  }
  .container .MoreDetails .details-container .details-text {
    line-height: 2.3rem;
    padding-left: 0;
  }
  .container .MoreDetails .details-container .details-text h1 {
    font-size: 1.6rem;
    line-height: 0;
  }
  .container .MoreDetails .details-container .details-text h3 {
    font-size: 1.4rem;
  }
  .container .MoreDetails .details-container .details-text p {
    word-spacing: 0;
    font-size: 1.2rem;
  }
  .container .MoreDetails .details-container .details-text .stars i {
    font-size: 1rem;
  }
  .container .MoreDetails .contact-info {
    margin: 0;
    padding: 0;
  }
  .container .MoreDetails .contact-info h2 {
    font-size: 1.1rem;
  }
  .container .MoreDetails .contact-info hr {
    margin: 0.3rem 0;
  }
  .container .MoreDetails .contact-info .contact-options {
    flex-direction: column;
  }
  .container .MoreDetails .contact-info .contact-options li {
    margin-left: 0.3rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 441px) {
  .container .MoreDetails {
    padding: 0.5rem;
  }
  .container .MoreDetails .close-icon {
    font-size: 1rem;
    padding: 0;
  }
  .container .MoreDetails .details-container .image {
    width: 80%;
    height: 8rem;
    margin: 0.5rem;
  }
  .container .MoreDetails .details-container .details-text {
    line-height: 1.8rem;
    padding-left: 0;
  }
  .container .MoreDetails .details-container .details-text h1 {
    font-size: 1.3rem;
    line-height: 0;
  }
  .container .MoreDetails .details-container .details-text h3 {
    font-size: 1.1rem;
  }
  .container .MoreDetails .details-container .details-text p {
    font-size: 0.9rem;
  }
  .container .MoreDetails .details-container .details-text .stars i {
    font-size: 1rem;
  }
}/*# sourceMappingURL=MoreDetails.css.map */