@import '../../../App.scss';
.MoreDetails{
    width: 80%;
    padding: 1rem 4rem;
    background: #fff;
    display: none;
    flex-direction: column;
    .close-icon{
        float: right;
        font-size: 1.7rem;
        color: $dark;
        border-radius: 50%;
        padding: .4rem .6rem;
        &:hover{
            color: $second-color;
        }
    }
    .details-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .image{
            width: 40%;
        }
        .details-text{
            text-align: center;
            line-height: 2rem;
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                padding: .5rem;
                font-size: 3rem;
                color: $main-color;
            }
            h3{
                color: $second-color;
                font-size: 1.6rem;
            }
            p{
                word-spacing: .2rem;
                color: #555;
                font-size: 1.1rem;
                text-align: start;
            }
            .stars{
                display: flex;
                justify-content: center;
                i{
                    color: goldenrod;
                    font-size: 1.4rem;
                    margin: .2rem;
                }
            }
        }
    }
    .contact-info{
        margin: 1rem 0;
        padding: .2rem 0;
        h2{
            font-size: 1.4rem;
            color: $main-color;
        }
        hr{
            margin: 1rem 0;
        }
        .contact-options{
            display: flex;
            i{
                text-align: center;
                color: #888;
                font-size: 1rem;
                margin-left: 1.2rem;
                cursor: pointer;
                span{
                    font-weight: bolder;
                    margin-left: .6rem;
                }
                &:hover{
                    color: $second-color;
                }
            }
        }
    }


    &.show{
        display: flex;
    }
}