@import '../../../App.scss';
footer{
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    padding-top: 8rem;
    background: $dark;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    .footer-container{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        .box{
            h4{
                font-size: 1.6rem;
                color: $main-color;
                padding: .5rem;
            }
            ul{
                transition: 1s;
                li{
                    width: 77%;
                    margin: 1rem 0;
                    list-style: none;
                    padding: .5rem;
                    border: .1rem solid transparent;
                    &:hover{
                        border: .1rem solid $light-color;
                    }
                    a{
                        text-decoration: none;
                        font-size: 1.1rem;
                        color: $light-color;
                    }
                }
                img{
                    width: 7rem;
                    margin: .5rem;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    .Copyright{
        width: 100%;
        padding: 1rem 0;
        font-size: 1rem;
        text-align: center;
        color: #999;
    }
}

@media(max-width: 760px){
    footer{
        padding: 1rem .4rem;
        .footer-container{
            grid-template-columns: repeat(3, 33%);
            .box{
                h4{
                    font-size: 1.3rem;
                }
                ul{
                    li{
                        margin: .3rem;
                        a{
                            font-size: .85rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 515px){
    footer{
        .footer-container{
            grid-template-columns: repeat(2, 50%);
            .box{
                h4{
                    font-size: 1rem;
                }
            }
        }
    }
}
