@import '../../../App.scss';
.HomeContent{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    color: $light-color;
    h1{
        color: $main-color;
        font-size: 4rem;
    }
    p{
        margin: 2rem 0;
        font-size: 1.4rem;
    }
    .btn{
        animation: behappy .3s ;
    }
    @keyframes behappy {
        10%{
            transform: scale(1.6);
        }
        20%{
            transform: scale(1.4);
        }
        30%{
            transform: scale(1.3);
        }
        40%{
            transform: scale(1.2);
        }
        50%{
            transform: scale(1.1);
        }
        60%{
            transform: scale(1);
        }
        70%{
            transform: scale(1.1);
        }
        80%{
            transform: scale(1.2);
        }
        90%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1.4);
        }
    }
}
.house-examples{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: .6rem;
    background: #eee;
}

@media (max-width: 771px){
    .HomeContent{
        h1{
            font-size: 2rem;
            text-align: center;
        }
        p{
            font-size: .9rem;
            text-align: center;
        }
    }
    .house-examples{
        grid-template-columns: repeat(2, 49%);
    }
}

@media (max-width: 441px){
    .HomeContent{
        height: 70vh;
    }
    .house-examples{
        grid-template-columns: 100%;
    }
}
