@import '../../../App.scss';
.PrudectCard{
    width: 100%;
    margin: .7rem;
    padding: .5rem;
    background: transparent;
    text-align: start;
    overflow: hidden;
    &:hover{
        transition: .5s;
        img{
            opacity: 1;
        }
        .go-to-more-details{
            display: block;
        }
    }
    img{
        width: 100%;
        height: 15rem;
        opacity: .7;
    }
    .go-to-more-details{
        display: none;
        font-size: .7rem;
        color: $second-color;
    }
    h1{
        color: $main-color;
        font-size: 1.2rem;
        margin: .5rem 0;
    }
    p{
        font-size: .9rem;
        word-spacing: .2rem;
        color: #777;
        line-height: 1.6rem;
    }
    h3{
        color: #666;
        font-size: 1rem;
    }
    .more-info{
        word-spacing: .4rem;
        font-size: 1rem;
        color: $second-color;
        margin: .5rem 0;
    }
}


@media(max-width: 751px){
    .PrudectCard{
        width: 97%;
        margin: 1rem 0;
        padding: .3rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #cfcece;
        img{
            height: 12rem;
        }
        h1{
            font-size: 1.1rem;
            margin: .6rem 0;
        }
    }
}

@media(max-width: 441px){
    .PrudectCard{
        width: 100%;
    }
}