@import '../../../../App.scss';
.new-projects{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
    h6{
        font-size: .9rem;
        text-align: center;
        color: #999;
        border-bottom: .1rem solid #999;
        padding: 1rem 0;
        width: 70%;
        margin: 2rem 0;
    }
    .project-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .card{
            width: 20rem;
            background: #fff;
            margin: .5rem;
            text-align: start;
            padding: .5rem;
            border: .1rem solid #f1efef;
            &:hover{
                box-shadow: 0 0 1rem .5rem #eae9e9;
                border: none;
                h5{
                    i{
                        color: #f00;
                    }
                }
            }
            img{
                width: 100%;
                height: 10rem;
            }
            p{
                font-size: 1.1rem;
                color: $second-color;
            }
            h5{
                font-size: 1rem;
                color: $main-color;
                i{
                    font-size: 1.3rem;
                    color: #999;
                    margin: .3rem;
                }
            }
            .btn{
                transform: translate(15%);
            }
        }
    }
}

@media(max-width: 991px){
    .new-projects{
        .project-cards{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            gap: 1rem;
            .card{
                width: 100%;
                margin: 1rem;
                padding: .5rem;
                .btn{
                    transform: translate(15%);
                }
            }
        }
    }
}
@media(max-width: 771px){
    .new-projects{
        .project-cards{
            grid-template-columns: 100%;
            .card{
                width: 100%;
                padding: .4rem;
                margin: .3rem;
                margin-bottom: 1rem;
                line-height: 1.5rem;
                img{
                    height: 10rem;
                }
                p{
                    font-size: .8rem;
                }
                h5{
                    font-size: .9rem;
                    i{
                        font-size: 1rem;
                    }
                }
                .btn{
                    transform: translate(15%);
                }
            }
        }
    }
}

@media(max-width: 441px){
    .new-projects{
        h6{
            width: 90%;
            margin: 1rem 0;
        }
        .project-cards{
            grid-template-columns: 100%;
            .card{
                width: 15rem;
                padding: .4rem;
                margin: .3rem;
                margin-bottom: 1rem;
                line-height: 1.5rem;
                img{
                    height: 7rem;
                }
                p{
                    font-size: .8rem;
                }
                h5{
                    font-size: .9rem;
                    i{
                        font-size: 1rem;
                    }
                }
                .btn{
                    transform: translate(30%);
                }
            }
        }
    }
}