@import '../../../App.scss';
.AboutUs{
    background: linear-gradient(#fff, 95%, #eee);
    .media{
        text-align: center;
        margin-top: 4rem;
        i{
            font-size: 1.6rem;
            padding: 1rem;
            margin: .5rem;
            background: $second-color;
            color: $light-color;
            border-radius: .2rem;
            &:hover{
                color: $main-color;
                background: $light-color;
                border-radius: 50%;
            }
        }
    }
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem 1rem;
            .image{
                margin: .5rem;
                img{
                    width: 32rem;
                    height: 100%;
                    box-shadow: -1.5rem -1.5rem 0 $main-color;
                }
            }
            .text{
                padding: 1rem 2rem;
                line-height: 2.3rem;
                word-spacing: .2rem;
                color: $dark;
            }
        }
    }
}


@media(max-width: 991px){
    .AboutUs{
        .media{
            margin-top: 2rem;
            i{
                font-size: 1.1rem;
                padding: .5rem;
            }
        }
        .about-container{
            .content{
                align-items: start;
                padding: 1rem .5rem;
                .image{
                    margin: .5rem;
                    img{
                        width: 20rem;
                        height: 100%;
                        box-shadow: -1rem -1rem 0 $main-color;
                    }
                }
                .text{
                    padding: 1rem .5rem;
                    line-height: 2rem;
                }
            }
            .content{
                &:nth-child(2){
                    align-items: center;
                    flex-direction: column-reverse;
                }
            }
        }
    }
    
}

@media(max-width: 661px){
    .AboutUs{
        .media{
            margin-top: 2rem;
            i{
                font-size: 1.1rem;
                padding: .5rem;
            }
        }
        .about-container{
            .content{
                flex-direction: column;
                align-items: center;
                padding: 1rem .5rem;
                .image{
                    margin: .5rem;
                    img{
                        width: 15rem;
                        height: 80%;
                    }
                }
                .text{
                    font-size: 1rem;
                }
            }
        }
    }
    
}

@media(max-width: 280px){
    .AboutUs{
        .about-container{
            .content{
                .image{
                    img{
                        width: 12rem;
                    }
                }
            }
        }
    }
    
}