* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  transition: 0.4s;
}

body {
  overflow-x: hidden;
}

.btn {
  width: 12rem;
  height: 3.4rem;
  color: #fff;
  background: #003cb3;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  position: relative;
  margin: 1rem;
  padding: 0.5rem;
}
.btn:hover {
  background: #2755b2;
}
.btn:hover span {
  margin-left: 0.4rem;
  width: 3.2rem;
}
.btn span {
  font-size: 1.2rem;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.title {
  color: #000080;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

section {
  margin: 0;
  padding: 3rem 1rem;
}

.prudect-Cards-Container {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 0.5rem;
  row-gap: 1.2rem;
}

@media (max-width: 991px) {
  section {
    padding: 1.5rem 0.5rem;
  }
}
@media (max-width: 700px) {
  .title {
    padding: 1rem;
    font-size: 2rem;
  }
  section {
    padding: 1rem 0.2rem;
  }
  .btn {
    width: 10rem;
    height: 3rem;
    font-size: 0.8rem;
    margin: 0.7rem;
    padding: 0.3rem;
  }
  .btn:hover span {
    margin-left: 0.3rem;
    width: 2.7rem;
  }
  .btn span {
    font-size: 0.9rem;
  }
  .prudect-Cards-Container {
    grid-template-columns: repeat(2, 50%);
    row-gap: 0.7rem;
  }
}
@media (max-width: 441px) {
  .title {
    padding: 0.7rem;
    font-size: 1.5rem;
  }
  .btn {
    width: 7.5rem;
    height: 2.6rem;
    font-size: 0.8rem;
    margin: 0.8rem;
  }
  .btn:hover span {
    margin-left: 0.1rem;
    width: 2.2rem;
  }
  .btn span {
    font-size: 0.7rem;
  }
  .prudect-Cards-Container {
    grid-template-columns: 100%;
  }
}
.AboutUs {
  background: linear-gradient(#fff, 95%, #eee);
}
.AboutUs .media {
  text-align: center;
  margin-top: 4rem;
}
.AboutUs .media i {
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0.5rem;
  background: #003cb3;
  color: #e6f9ff;
  border-radius: 0.2rem;
}
.AboutUs .media i:hover {
  color: #000080;
  background: #e6f9ff;
  border-radius: 50%;
}
.AboutUs .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AboutUs .about-container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}
.AboutUs .about-container .content .image {
  margin: 0.5rem;
}
.AboutUs .about-container .content .image img {
  width: 32rem;
  height: 100%;
  box-shadow: -1.5rem -1.5rem 0 #000080;
}
.AboutUs .about-container .content .text {
  padding: 1rem 2rem;
  line-height: 2.3rem;
  word-spacing: 0.2rem;
  color: #002633;
}

@media (max-width: 991px) {
  .AboutUs .media {
    margin-top: 2rem;
  }
  .AboutUs .media i {
    font-size: 1.1rem;
    padding: 0.5rem;
  }
  .AboutUs .about-container .content {
    align-items: start;
    padding: 1rem 0.5rem;
  }
  .AboutUs .about-container .content .image {
    margin: 0.5rem;
  }
  .AboutUs .about-container .content .image img {
    width: 20rem;
    height: 100%;
    box-shadow: -1rem -1rem 0 #000080;
  }
  .AboutUs .about-container .content .text {
    padding: 1rem 0.5rem;
    line-height: 2rem;
  }
  .AboutUs .about-container .content:nth-child(2) {
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 661px) {
  .AboutUs .media {
    margin-top: 2rem;
  }
  .AboutUs .media i {
    font-size: 1.1rem;
    padding: 0.5rem;
  }
  .AboutUs .about-container .content {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
  }
  .AboutUs .about-container .content .image {
    margin: 0.5rem;
  }
  .AboutUs .about-container .content .image img {
    width: 15rem;
    height: 80%;
  }
  .AboutUs .about-container .content .text {
    font-size: 1rem;
  }
}
@media (max-width: 280px) {
  .AboutUs .about-container .content .image img {
    width: 12rem;
  }
}/*# sourceMappingURL=AboutUs.css.map */