@import '../../../App.scss';
.contact{
    background: $light-color;
    .container{
        display: flex;
        align-items: start;
        justify-content: space-between;
        .menu-bars{
            background: $second-color;
            color: $light-color;
            font-size: 1.4rem;
            padding: .5rem;
            margin: .5rem;
            border-radius: .3rem;
        }
        .contact-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h4{
                font-size: 1rem;
                font-weight: lighter;
                color: $dark;
                text-align: center;
                margin: 1rem .5rem;
                padding: 0 2rem;
            }
            form{
                width: 99%;
                margin: 1rem .5rem;
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                border: .1rem solid #ddd;
                input,
                textarea{
                    width: 99%;
                    max-width: 99%;
                    height: 2rem;
                    outline: none;
                    border: none;
                    background: transparent;
                    padding: 1.2rem;
                    margin: .7rem 0;
                    border-bottom: .1rem solid #ddd;
    
                }
                textarea{
                    min-width: 99%;
                    height: 5rem;
                    max-height: 7rem;
                }
            }
        }
        .info{
            text-align: center;
            color: #fff;
            font-size: 1.4rem;
            background: $second-color;
            padding: 2rem;
            border-radius: .3rem;
            h4{
                font-size: 2rem;
                color: $main-color;
            }
            .info-options{
                display: flex;
                flex-direction: column;
                align-items: start;
                i{
                    margin: 1rem 0;
                    font-size: 1.2rem;
                    cursor: pointer;
                    span{
                        font-weight: lighter;
                        margin-left: 1rem;
                        font-size: 1rem;
                    }
                    &:hover{
                        color: $main-color;
                    }
                }
            }
            display: none;
        }
        .show-info{
            display: block;
        }
    }
}


@media(max-width: 771px){
    .contact{
        .container{
            .menu-bars{
                position: absolute;
                top: 5rem;
                left: 1rem;
            }
            .info{
                font-size: .8rem;
                padding: .5rem;
                position: absolute;
                top: 9rem;
                left: 1rem;
                h4{
                    font-size: 1.3rem;
                }
                .info-options{
                    i{
                        margin: .6rem 0;
                        font-size: 1rem;
                        span{
                            margin-left: .5rem;
                        }
                    }
                }
            }
        }
    }
}



