* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  transition: 1s;
}

body {
  overflow-x: hidden;
}

.btn {
  width: 12rem;
  height: 3.4rem;
  color: #fff;
  background: #003cb3;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  position: relative;
  margin: 1rem;
  padding: 0.5rem;
}
.btn:hover {
  background: #2755b2;
}
.btn:hover span {
  margin-left: 0.4rem;
  width: 3.2rem;
}
.btn span {
  font-size: 1.2rem;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.title {
  color: #000080;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

section {
  margin: 0;
  padding: 3rem 1rem;
}

@media (max-width: 991px) {
  section {
    padding: 1.5rem 0.5rem;
  }
}
@media (max-width: 700px) {
  section {
    padding: 1rem 0.2rem;
  }
  .btn {
    width: 10rem;
    height: 3rem;
    font-size: 0.8rem;
    margin: 0.7rem;
    padding: 0.3rem;
  }
  .btn:hover span {
    margin-left: 0.3rem;
    width: 2.7rem;
  }
  .btn span {
    font-size: 0.9rem;
  }
}
@media (max-width: 441px) {
  .title {
    padding: 0.7rem;
    font-size: 1.5rem;
  }
  .btn {
    width: 7.5rem;
    height: 2.6rem;
    font-size: 0.8rem;
    margin: 0.8rem;
  }
  .btn:hover span {
    margin-left: 0.1rem;
    width: 2.2rem;
  }
  .btn span {
    font-size: 0.7rem;
  }
}
.contact {
  background: #e6f9ff;
}
.contact .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.contact .container .menu-bars {
  background: #003cb3;
  color: #e6f9ff;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
}
.contact .container .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .container .contact-content h4 {
  font-size: 1rem;
  font-weight: lighter;
  color: #002633;
  text-align: center;
  margin: 1rem 0.5rem;
  padding: 0 2rem;
}
.contact .container .contact-content form {
  width: 99%;
  margin: 1rem 0.5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 0.1rem solid #ddd;
}
.contact .container .contact-content form input,
.contact .container .contact-content form textarea {
  width: 99%;
  max-width: 99%;
  height: 2rem;
  outline: none;
  border: none;
  background: transparent;
  padding: 1.2rem;
  margin: 0.7rem 0;
  border-bottom: 0.1rem solid #ddd;
}
.contact .container .contact-content form textarea {
  min-width: 99%;
  height: 5rem;
  max-height: 7rem;
}
.contact .container .info {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  background: #003cb3;
  padding: 2rem;
  border-radius: 0.3rem;
  display: none;
}
.contact .container .info h4 {
  font-size: 2rem;
  color: #000080;
}
.contact .container .info .info-options {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact .container .info .info-options i {
  margin: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}
.contact .container .info .info-options i span {
  font-weight: lighter;
  margin-left: 1rem;
  font-size: 1rem;
}
.contact .container .info .info-options i:hover {
  color: #000080;
}
.contact .container .show-info {
  display: block;
}

@media (max-width: 771px) {
  .contact .container .menu-bars {
    position: absolute;
    top: 5rem;
    left: 1rem;
  }
  .contact .container .info {
    font-size: 0.8rem;
    padding: 0.5rem;
    position: absolute;
    top: 9rem;
    left: 1rem;
  }
  .contact .container .info h4 {
    font-size: 1.3rem;
  }
  .contact .container .info .info-options i {
    margin: 0.6rem 0;
    font-size: 1rem;
  }
  .contact .container .info .info-options i span {
    margin-left: 0.5rem;
  }
}/*# sourceMappingURL=Contact.css.map */