@import '../../../../App.scss';
.Buy{
    background: #eee;
    padding-bottom: 3rem;
    .buy-container{
        .input-form{
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                width: 50%;
                height: 3rem;
                border: none;
                border-radius: 5rem;
                outline: none;
                color: $main-color;
                font-size: 1rem;
                padding: .5rem 1rem;
                margin: 2rem .5rem;
            }
            .search-btn{
                width: 3rem;
                height: 3rem;
                color: #fff;
                background: $second-color;
                font-size: 1rem;
                border-radius: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: 0.8s;
                position: relative;
                padding: .5rem;
                cursor: pointer;
                &:hover{
                    width: 10rem;
                    background: #0248d3;
                    span{
                        width: 5.5rem;
                        margin-left: 1rem;
                    }
                }
                span{
                    width: 0;
                    overflow: hidden;
                    transition: 0.8s;
                }
            }
        }
    }
}



@media (max-width: 991px){
    .Buy{
        .buy-container{
            .input-form{
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    width: 80%;
                    height: 2.5rem;
                }
                .search-btn{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}

@media (max-width: 771px){
    .Buy{
        .buy-container{
            .input-form{
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    width: 80%;
                    height: 2.5rem;
                }
                .search-btn{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}

@media (max-width: 441px){
    .Buy{
        .buy-container{
            .input-form{
                input{
                    height: 2rem;
                }
            }
        }
    }
}